*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.home {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.judul1 {
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    -webkit-text-stroke: 1px white;
    background-color:coral;
    margin: 0 auto;
}

.judul2 {
    color: black;
    margin-top: 250px;
    margin-left: 470px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px white;
    position: absolute;
    font-size: 40px;;
}

nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#033747,#012733);
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}

nav li{
    display: inline-block;
    list-style: none;
}


nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}
nav li a:hover{
    color:#ff8c69 ;
    transition: all 0.4s ease 0s;
}

.kategoripilihan {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}

.content-items img{
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.frame1 {
    height: 335px;
    width: 365px;
}

.img {
    position: absolute;
    width: 512px;
    height:312px;
    margin-top: 320px;
    margin-left: 520px;
    border-radius: 15px;
}

.biodata {
    margin-left: 380px;
    margin-top: 100px;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.divborder {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    border: 1px solid rgb(205, 202, 202);
    background-color: whitesmoke;
    border-radius: 20px;
}
